hello/src/getCategories.xsd

<?xml version="1.0" encoding="utf-16"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="channels">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="unbounded" name="channel">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="id" type="xsd:int" />
              <xsd:element name="title" type="xsd:string" />
              <xsd:element name="ad_channel" type="xsd:string" />
              <xsd:element name="ad_frequency" type="xsd:int" />
              <xsd:element name="adserver" type="xsd:string" />
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>